# See LICENSE folder for this sample’s licensing information.
#
# Apple sample code gitignore configuration.

# Finder
.DS_Store

# Xcode - User files
xcuserdata/
*.xcworkspace

## Build generated
build/
DerivedData/

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
.build/

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
